<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login do Administrador</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"> 
</head>
<body>
    <div class="login-admin">

        <h1>Login do Admin</h1> 

        <form th:action="@{/admin/login}" method="post">
            <input type="text" name="username" placeholder="Usuário" />
            <input type="password" name="password" placeholder="Senha" />
            <button type="submit">Entrar</button>
        </form>

        <div th:if="${param.error}">
            <p style="color:red;">Usuário ou senha inválidos!</p>
        </div>

    </div>

</body> 

</html> 

 
