<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal</title>
    
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
    </style>
</head>
<body>
    <header>
        <div class="header">
            <a th:href="@{/admin/principal}"><img class="logo-fatec" th:src="@{/img/logo-fatec-branco.png}" alt="Logo Fatec"> </a>
                <ul class="links">
                    <li> <a th:href="@{/admin/principal}" th:classappend="${activePage == 'principal'} ? 'active' : ''">Reservar</a></li>
                    <li><a th:href="@{/listagem}" th:classappend="${activePage == 'listagem'} ? 'active' : ''">Minhas Reservas</a></li>
                    <li><a th:href="@{/contato}" th:classappend="${activePage == 'contato'} ? 'active' : ''">Contato</a></li>
                </ul>
            <form th:action="@{/logout}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>

    <main>
        <h1>Reserva de Salas e Laboratórios - FATEC Rubens Lara</h1>

        <h2 class="subtitulo">Salas e Laboratórios - 3º Andar</h2>
        <section class="andar3">
            <div class="div-reservar" th:each="sala : ${salasAndar3}">
                <img th:src="@{/img/sala5.jpeg}" th:alt="'Laboratório ' + ${sala.numero}">
                <h3 th:text="'Sala ' + ${sala.numero}">Sala</h3>
                <p th:text="'Capacidade: ' + ${sala.capacidade} + ' alunos'">Capacidade</p>
                <p th:text="'Possui televisão? ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).TELEVISOR) ? 'Sim' : 'Não'}">TV</p>
                <p th:text="'Possui projetor? ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).PROJETOR) ? 'Sim' : 'Não'}">Projetor</p>
                <p th:text="'Quantidade de máquinas: ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).COMPUTADORES) ? '20' : '0'}">Máquinas</p>
                <a th:href="@{'/reservar?numero=' + ${sala.numero}}">
                    <button class="btn">Reservar</button>
                </a>
            </div>
        </section>

        <h2>Salas e Laboratórios - 5º Andar</h2>
        <section class="andar5">
            <div class="div-reservar" th:each="sala : ${salasAndar3}">
                <img th:src="@{/img/sala5.jpeg}" th:alt="'Laboratório ' + ${sala.numero}">
                <h3 th:text="'Sala ' + ${sala.numero}">Sala</h3>
                <p th:text="'Capacidade: ' + ${sala.capacidade} + ' alunos'">Capacidade</p>
                <p th:text="'Possui televisão? ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).TELEVISOR) ? 'Sim' : 'Não'}">TV</p>
                <p th:text="'Possui projetor? ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).PROJETOR) ? 'Sim' : 'Não'}">Projetor</p>
                <p th:text="'Quantidade de máquinas: ' + ${sala.recursos.contains(T(com.example.reservaSala.model.enums.Recurso).COMPUTADORES) ? '20' : '0'}">Máquinas</p>
                <a th:href="@{'/reservar?numero=' + ${sala.numero}}">
                    <button class="btn">Reservar</button>
                </a>
            </div>
        </section>
    </main>
</body>
</html>
